{% load static %}
<section class="header18 cid-sunwLq52tG mbr-fullscreen" id="header18-n">
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Faça parte da mídia e apaixone-se!</strong></h1>
                <p class="mbr-text mbr-fonts-style mbr-white display-7">
                    Fotos dos cultos e eventos da igreja você só encontra aqui.
            </div>
        </div>
    </div>
</section>