{% load static %}
<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-l">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="row social-row">
                    <div class="social-list align-right pb-2">
                       <div class="soc-item">
                            <a href="https://www.facebook.com/emidiacompany/" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook"></span>
                            </a>
                        </div><div class="soc-item">
                            <a href="https://www.instagram.com/emidiacompany/" target="_blank">
                                <span class="mbr-iconfont socicon socicon-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row row-copirayt">
                    <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                        © Copyright 2022 E-mídia - Marketing digital - All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
</section>